<!DOCTYPE html>
<html lang="en">
<head>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="default.css" rel="stylesheet">
    <title>{{project}} Documentation</title>
</head>
<body>
<div class="row-fluid">
    <div class="span2 navbar">
        {{> navbar files}}
    </div>
    <div class="span6 doc-content">
        {{#key_val files}}
            <a href="javascript:toggleVisible('file_{{strip key}}');"><h2>{{key}}</h2></a><br/>

            <div id="file_{{strip key}}">
                {{#key_val val}}
                    <a href="javascript:toggleVisible('mod_{{strip key}}');"><h3>{{key}}</h3></a><br/>

                    <div id="mod_{{strip key}}">
                        {{#key_val val}}
                            <a href="javascript:toggleVisible('{{strip ../key}}_{{strip key}}');"><h4>{{key}}</h4></a><br/>

                            <div id="{{strip ../key}}_{{strip key}}">
                                {{#key_val val}}
                                    {{#unless val.private}}
                                        {{#eq ../../key "Functions"}}
                                            {{> function val}}
                                        {{/eq}}
                                        {{#eq ../../key "Fields"}}
                                            {{> field val}}
                                        {{/eq}}
                                        <hr/>
                                    {{/unless}}
                                {{/key_val}}
                            </div>
                        {{/key_val}}
                    </div>
                {{/key_val}}
            </div>
        {{/key_val}}
    </div>
</div>
<script type="text/javascript">
    function toggleVisible(divId) {
        var div = document.getElementById(divId);
        if (div) {
            if (div.style.display === "none") {
                div.style.display = "block";
            }
            else {
                div.style.display = "none";
            }
        }
    }
</script>
</body>
</html>