<ul id="{{fileName file}}_{{strip module}}_{{field.name}}">
    <li>
        <span class="identifier">{{field.name}}</span>{{#if field.type}}<span class="type"> : {{field.type}}</span>{{/if}}
        {{#if description}}<span> - {{{description}}}</span>{{/if}}
    </li>
</ul>