<div class="function" id="{{fileName file}}_{{strip module}}_{{function}}">
    <h4><span class="functionName">{{function}}</span> ({{paramList params}})</h4>

    <div class="function-body">
        {{#if description}}
            <div class="description">{{{description}}}</div>
        {{/if}}
        {{#if params}}<h5>Parameters</h5>
            <ul>
                {{#recurse params}}
                    <li>
                    <span class="identifier">
                        {{paramName}}
                    </span>
                        {{#if paramType}}<span class="type"> : {{paramType}}{{#if optional}}
                            (Optional){{/if}}</span>{{/if}}
                        {{#if description}}<div class="description">{{{description}}}</div>{{/if}}
                        {{#if params}}
                            <ul>{{{recurse params}}}</ul>{{/if}}
                    </li>
                {{/recurse}}
            </ul>
        {{/if}}
        {{#if returns}}
            <h5>Returns</h5>
            <ul>
                <li>
                    {{#if returns.type}}<span class="type">{{returns.type}} </span>{{/if}}
                    {{#if returns.description}}<span> - {{{returns.description}}}</span>{{/if}}
                </li>
            </ul>
        {{/if}}
    </div>
</div>